body
{
    background-color:#000000;
}

h1
{
    color:rgb(38, 0, 255);
    background-color:rgb(187, 173, 46);
    font-size:50px;
    font-style:oblique;
}

#showsketch
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration: 4s;
    margin-top:50px;
    animation-iteration-count:infinite;
}

@keyframes example
{
    from{box-shadow:2px 2px 38px greenyellow;}
    from{box-shadow: 2px 2px 38px yellow;}
}

p
{
    padding-top:10px;
    font-size:25px;
}